<!DOCTYPE html>
<html lang="en" ng-app="cityCommute">
    <head>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
                <meta content="" name="description">
                    <meta content="Dashboard" name="author">
                        <meta content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" name="keyword">
                            <title>
                                Commutr - The free Car Pooling Website
                            </title>
                            <!-- Bootstrap core CSS -->
                            <script src="//maps.googleapis.com/maps/api/js?sensor=false">
                            </script>
                            <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js">
                            </script>
                            <script src="/assets/js/angular/vendor.js">
                            </script>
                            <!-- Custom Angular and JS Code -->
                            <script src="/assets/js/angular/app.js">
                            </script>
                            <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
                            <link href="/assets/css/vendor.css" rel="stylesheet" type="text/css"/>
                            <link href="/assets/js/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
                            <!-- Custom styles for this template -->
                            <link href="/assets/css/style.css" rel="stylesheet"/>
                            <link href="/assets/css/style-responsive.css" rel="stylesheet"/>
                        </meta>
                    </meta>
                </meta>
            </meta>
        </meta>
    </head>
</html>
<body>
    <div id="container">
        <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-original-title="" data-placement="right">
                </div>
            </div>
            <!--logo start-->
            <a class="logo" href="/">
                <b>
                    Commutr
                </b>
            </a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown" ng-controller="NotificationController">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <i class="fa fa-tasks">
                            </i>
                            <span class="badge bg-theme02" ng-if="notificationCount">
                                {{notificationCount || ''}}
                            </span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green">
                            </div>
                            <li>
                                <p class="green">
                                    You have {{notificationCount == 0 ? 'no' : notificationCount}} new notifications
                                </p>
                            </li>
                            <li ng-repeat="notification in notifications">
                                <a ng-click="refreshPage(notification.journeyId._id)">
                                    <span class="photo">
                                        <img alt="avatar" src="{{notification.journeyId.posted_by.profile_pic}}"/>
                                    </span>
                                    <span class="subject">
                                        <span class="from">
                                            {{notification.journeyId.posted_by.name}}
                                        </span>
                                        <span class="time">
                                            {{timeInWords(notification.journeyId.departure)}}
                                        </span>
                                    </span>
                                    <span class="message">
                                        <div class="muted" style="color:#765">
                                            going {{notification.journeyId.start.area}} to
                                                {{notification.journeyId.end.area}}
                                        </div>
                                        <b>
                                            {{notification.notification}}
                                        </b>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li class="dropdown" id="header_inbox_bar" ng-controller="UnreadController">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <i class="fa fa-envelope-o">
                            </i>
                            <span class="badge bg-theme02" ng-if="unreadCount">
                                {{unreadCount || ''}}
                            </span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green">
                            </div>
                            <li>
                                <p class="green">
                                    You have {{unreadCount == 0 ? 'no' : unreadCount}} new messages
                                </p>
                            </li>
                            <li ng-repeat="message in unreadMessages">
                                <a href="/chat/{{message._id._id}}">
                                    <span class="photo">
                                        <img alt="avatar" src="{{message._id.posted_by.profile_pic}}"/>
                                    </span>
                                    <span class="subject">
                                        <span class="from">
                                            {{message._id.posted_by.name}}
                                        </span>
                                        <span class="time">
                                            {{timeInWords(message._id.departure)}}
                                        </span>
                                    </span>
                                    <span class="message">
                                        <div class="muted" style="color:#765">
                                            going {{message._id.start.area}} to {{message._id.end.area}}
                                        </div>
                                        {{message.occurance}} message
                                        <span ng-if="message.occurance > 1">
                                            s
                                        </span>
                                        unread
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu" ng-controller="SidebarController">
                <ul class="nav pull-right top-menu">
                    <li>
                        <a class="logout" ng-click="logout()" target="_blank">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside ng-controller="SidebarController">
            <div class="nav-collapse " id="sidebar">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered">
                        <a href="profile.html">
                            <img class="img-circle" src="{{user.profile_pic}}" width="60"/>
                        </a>
                    </p>
                    <h5 class="centered">
                        {{user.name}}
                    </h5>
                    <li class="mt">
                        <a class="active" href="/">
                            <i class="fa fa-dashboard">
                            </i>
                            <span>
                                Home
                            </span>
                        </a>
                    </li>
                    <li class="mt">
                        <a href="/addjourney">
                            <i class="fa fa-dashboard">
                            </i>
                            <span>
                                Post New Journey
                            </span>
                        </a>
                    </li>
                    <li class="mt">
                        <a href="/chat">
                            <i class="fa fa-dashboard">
                            </i>
                            <span>
                                Chat Groups
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <div ng-view="">
        </div>
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2016 - Pratyush
                <a class="go-top" href="">
                    <i class="fa fa-angle-up">
                    </i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.8.3.min.js">
    </script>
    <script src="/assets/js/angular/vendor2.js">
    </script>
</body>
