<section id="main-content">
    <section class="wrapper">
        <h3>
            <i class="fa fa-angle-right">
            </i>
            Form Components
        </h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb">
                        <i class="fa fa-angle-right">
                        </i>
                        Form Elements
                    </h4>
                    <div class="form-horizontal style-form" method="get">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                <strong>
                                    Starting Destination
                                    
{{journeyObject}}
                                </strong>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                Street
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="journeyObject.startStreet">
                                </input>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">
                                Area
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="journeyObject.startArea">
                                </input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                <strong>
                                    End Destination
                                </strong>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                Street
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="journeyObject.endStreet">
                                </input>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">
                                Area
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="journeyObject.endArea">
                                </input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                <strong>
                                    Description
                                </strong>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                Departure
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="journeyObject.departure">
                                </input>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">
                                Vehicle
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="journeyObject.vehicle">
                                </input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                Available Seats
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="number" ng-model="journeyObject.availableSeats">
                                </input>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">
                                Gender Preference
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="journeyObject.genderPreference">
                                </input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                Description
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="journeyObject.description">
                                </input>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">
                                Fare
                            </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="journeyObject.fare">
                                </input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <input class="form-control btn btn-facebook" placeholder="" type="submit">
                                </input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- col-lg-12-->
<!-- --/wrapper ---->
<!-- /MAIN CONTENT -->
