<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Pool!</title>
    <link rel='stylesheet' href='/css/bootstrap.css'/>
    <link rel='stylesheet' href='/css/material.css'/>
    <link rel='stylesheet' href='/css/ripple.css'/>

    <script src="/lib/jquery-1.12.2.min.js"></script>
    <script src="/lib/bootstrap.js"></script>
    <script src="/lib/material.js"></script>
    <script src="/lib/ripple.js"></script>

    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-resource.min.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="/js/app.js"></script>

</head>
<body>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
    <li><a href="/">Car Pool</a></li>
    <li class="active"><a href="#home">Journeys</a></li>
    <li><a href="#profile">My Cars</a></li>
    <li><a href="#profile">Profile</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="" data-target="#">
            Login / Register <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/login">Login</a></li>
            <li class="divider"></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </li>
</ul>

<div class="container">
    <div ng-view></div>
</div>

</body>
</html>
